/* These styles apply to the theme. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

ul,
li {
  list-style: none;
}

p {
  margin-bottom: 15px;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 5px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 4px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 3px;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fbfbf8;
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  color: black;
}

img {
  max-width: 100%;
  margin: 5px;
}

#audioPlayback { display: none; }

.page {
  position: relative;
  width: 100%;
  height: 100%;
}

.clearfix:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/** PAGE **/

.page .header {
  margin-top: 1.25em;
  padding: 0.2em;
  text-align: right;
}

.page .header img {
  float: left;
  width: 25%;
}
.page .header p {
  padding-top: 1.5em;
  margin: 0;
  padding-right: 1em;
  font-size: 1.5em;
}
.page .header h1 {
  display: inline;
}

.page .story__icon button {
  background: transparent;
  width: 50px !important;
  height: 50px;
  width: 100%;
  margin: 1em;
  border: 2px solid #5aa6e9;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.page .story__icon i {
  font-size: 3em;
  color: #5aa6e9;
  margin-top: -4px !important;
  display: block;
  cursor: pointer;
}
.page .story__icon--home {
  float: left;
}
.page .story__icon--speak {
  float: right;
}

.page .highlight__primary {
  color: #075725;
}

.page .highlight__secondary {
  color: #b85a35;
}

.page .highlight__tertiary {
  color: #d90808;
}

/** LOADING **/

.page__loading {
  text-align: center;
}
.page__loading .loading__icon {
  margin-top: 65%;
}
.page__loading .attribution {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

/** HOME **/
.page__home {
  margin-bottom: 1em;
}

.page__home .stories {
  padding-top: 1em;
}

.page__home .story {
  border: 2px solid #5aa6e9;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 15px;
}

.page__home .story img {
  cursor: pointer;
}

/** STORY **/

.page__story .story__title {
  padding: 0.5em;
  margin-top: 0.5em;
}

.page__story .story__title h2 {
  margin: 0;
  padding: 0;
}

.page__story .story__wrapper {
  border: none;
  margin-top: 0.5em;
  padding: 1em;
}

.page__story .story__header {
  text-align: center;
  position: relative;
}

.page__story .story__header h3 {
  margin: 0;
}

.page__story .story__header img {
  width: 50%;
}

.page__story .story__characters {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page__story .story__characters img {
  width: 25%;
}

.page__story .story__characters .story__character--primary {
  float: left;
}

.page__story .story__characters .story__character--secondary {
  float: right;
}

.page__story .story__narrative {
  font-size: 1.5em;
  padding: 0.5em;
  border: 2px solid #919090;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin-top: 1em;
}

.page__story .story__action button {
  background: transparent;
  border: 2px solid #5aa6e9;
  color: #5aa6e9;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.5em auto;
  padding-top: 0.5em;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  padding-bottom: 0.5em;
  white-space: normal;
}


/** NOT FOUND **/
.page_notFound .notFound__message {
  text-align: center;
  margin-top: .5em;
}

.page_notFound .notFound__message img {
  border-bottom: 2px solid black;
}